.Search__title {
    text-align: center;
}

.Search__input {
    display: block;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    height: 35px;
    font-size: 20px;
}

.Search__results {
    margin: 15px 0;
}

.Search__poweredby {
    float: right;
}

.Search__loader,
.Search__noresults,
.Search__error {
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding: 15px;
}

.Search__error {
    background-color: #f55;
}

@media screen and (max-width: 479px) {
    .Search__title {
        font-size: 25px;
    }

    .Search__results-count,
    .Search__poweredby {
        float: none;
        text-align: center;
    }
}