.SearchResult {
    border: 1px solid #333;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.SearchResult__image-wrap {
    width: 30%;
    float: left;
    text-align: center;
}

.SearchResult__image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 130px;
}

.SearchResult__content {
    width: 65%;
    float: right;
}

.SearchResult__title {
    font-size: 20px;
}

.SearchResult__description {
    font-size: 16px;
}